body {
    background-color: lightblue;
}

h1
{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2F4F4F;
}

h2 
{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 30px;
    font-style: bold;
    color: #556B2F; 
}

h3
{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 20px;
    font-style: bold;
    color: #8F9779;
}

.page-layout {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding: 20px;
}


.text-section {
    width: 60%;
}

p
{
    color: #2e2e2e;
    margin-bottom: 20px;
}

.image-section {
    width: 35%;
    text-align: right;
}

.image-section img {
    width: 350px;
    height: 250px;
    display: block;
    margin-bottom: 15px;
    border: 3px solid #2F4F4F;
    
}


.back-home {
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: larger;
    text-decoration: none;
    

}

.back-home:hover {
    
    text-decoration: underline;
    transform: scale(1.15);
}

a {
    text-decoration: none;
    font-size: large;
    color: blue;
}

a:hover {
    text-decoration: underline;
    transform: scale(1.1);
}